.menu-bg {
  height: 150px;
  background-image: url("/images/Bar_bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

.menu-bg h1 {
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.8;
}

.menu-bg h2 {
  font-size: 3rem;
  margin-top: 0.5rem;
}

.menu-bg {
  position: relative;
}

.menu-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
}

.menu-bg h1,
.menu-bg h2 {
  position: relative;
  z-index: 1;
}

/* Menu Items */
.menu-items {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 4rem 1.5rem; */
}

.menu-category {
  font-size: 1.8rem;
  margin: 4rem 0 2rem;
  letter-spacing: 1px;
  color: #f59e0b;
  text-align: center;
}

.menu-item {
  text-align: center;
}

.vodka{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.whisky{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* place-items: center; */
}

.menu-item img {
  width: 180px;
  opacity: 0.6;
  margin-bottom: 1rem;
  border-radius: 12px;
}

.menu-item img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover img {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(255, 170, 0, 0.85);
}


.item-name {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.item-description {
  color: #9ca3af;
  font-size: 0.95rem;
  margin-bottom: 0.4rem;
}

.item-price {
  font-size: 0.9rem;
  color: #eaeaea;
}